{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'feedback/forms.css' %}">
</head>
<body>
    <h2>Оставьте отзыв</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-style {% if field.errors %} errors {% endif  %}">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            </div>
        {% endfor %}

        <button type="submit" >Отправить</button>

    </form>
</body>
</html>